<html>
	<head>
		<title>CWI Curso AWS</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<form name='f' action="/perform_login" method='POST'>
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-4">
						<div class="form-group">
							<label for="username">Nome de Usuário</label>
							<input type="text" class="form-control" id="username" name="username">
						</div>
						<div class="form-group">
							<label for="password">Senha</label>
							<input type="password" class="form-control" id="password" name="password">
						</div>
						<button type="submit" class="btn btn-primary">Entrar</button>
						<a href="/">Voltar</a>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>
